Repository dhermes/bezier, pull requests merged in 2020-01, with the labels that each got.

#160 Ensure pure-Python implementations **do not** invoke code from the binary extension.
  docs/abi/curve.rst
  docs/algorithms/geometric-helpers.rst
  docs/conf.py
  docs/custom_html_writer.py
  docs/make_images.py
  scripts/diff.py
  scripts/generate_fortran_functional.py
  scripts/report_lcov.py
  src/python/bezier/__config__.py
  src/python/bezier/__init__.py
  src/python/bezier/_algebraic_intersection.py
  src/python/bezier/_clipping.py
  src/python/bezier/_curve_helpers.py
  src/python/bezier/_geometric_intersection.py
  src/python/bezier/_helpers.py
  src/python/bezier/_intersection_helpers.py
  src/python/bezier/_plot_helpers.py
  src/python/bezier/_py_curve_helpers.py
  src/python/bezier/_py_geometric_intersection.py
  src/python/bezier/_py_helpers.py
  src/python/bezier/_py_intersection_helpers.py
  src/python/bezier/_py_surface_helpers.py
  src/python/bezier/_py_surface_intersection.py
  src/python/bezier/_pypy_speedup.c
  src/python/bezier/_speedup.c
  src/python/bezier/_speedup.pyx
  src/python/bezier/_surface_helpers.py
  src/python/bezier/_surface_intersection.py
  src/python/bezier/curve.py
  src/python/bezier/curved_polygon.py
  src/python/bezier/surface.py
  tests/conftest.py
  tests/functional/make_curve_curve_images.py
  tests/functional/make_surface_surface_images.py
  tests/functional/test_curve_curve.py
  tests/functional/test_segment_box.py
  tests/functional/test_surface_locate.py
  tests/functional/test_surface_surface.py
  tests/unit/test___config__.py
  tests/unit/test__algebraic_intersection.py
  tests/unit/test__clipping.py
  tests/unit/test__curve_helpers.py
  tests/unit/test__geometric_intersection.py
  tests/unit/test__helpers.py
  tests/unit/test__intersection_helpers.py
  tests/unit/test__plot_helpers.py
  tests/unit/test__py_curve_helpers.py
  tests/unit/test__py_geometric_intersection.py
  tests/unit/test__py_helpers.py
  tests/unit/test__py_intersection_helpers.py
  tests/unit/test__py_surface_helpers.py
  tests/unit/test__py_surface_intersection.py
  tests/unit/test__surface_helpers.py
  tests/unit/test__surface_intersection.py
  tests/unit/test_curve.py
  tests/unit/test_curved_polygon.py
  tests/unit/test_surface.py
  tests/unit/utils.py
Labels: hygiene, language: python

#161 Add support for Python 3.8.
  .appveyor.yml
  .circleci/config.yml
  .circleci/expected_journal.txt
  .readthedocs.yml
  .travis.yml
  DEVELOPMENT.rst
  DEVELOPMENT.rst.template
  README.rst
  README.rst.release.template
  README.rst.template
  appveyor/expected_journal.txt
  docs/index.rst
  docs/index.rst.release.template
  docs/python/binary-extension.rst
  docs/python/binary-extension.rst.template
  docs/releases/latest.rst
  docs/requirements.txt
  noxfile.py
  scripts/docker/README.md
  scripts/docker/bezier.Dockerfile
  scripts/macos/local-test.sh
  scripts/macos/script-py38.sh
  scripts/macos/test.sh
  scripts/macos/travis-setup.sh
  scripts/macos/travis_journal.txt
  scripts/manylinux/build-wheels.sh
  scripts/requirements.txt
  setup.py
  setup_helpers.py
  src/python/bezier/__config__.py
  src/python/bezier/_pypy_speedup.c
  tests/unit/test___config__.py
Labels: language: pypy, language: python

#163 Adding `copy` and `verify` to `Curve` and `Surface` constructors.
  src/python/bezier/_base.py
  src/python/bezier/curve.py
  src/python/bezier/surface.py
  tests/functional/test_surface_locate.py
  tests/functional/utils.py
  tests/unit/test__base.py
  tests/unit/test__plot_helpers.py
  tests/unit/test__py_surface_helpers.py
  tests/unit/test_curve.py
  tests/unit/test_surface.py
Labels: language: python

#164 Add sympy-based helpers for "exact" representations
  README.rst
  README.rst.release.template
  README.rst.template
  docs/conf.py
  docs/index.rst
  docs/index.rst.release.template
  docs/releases/latest.rst
  noxfile.py
  setup.py
  src/python/bezier/_symbolic.py
  src/python/bezier/curve.py
  src/python/bezier/surface.py
  tests/unit/test__py_curve_helpers.py
  tests/unit/test__symbolic.py
  tests/unit/test_curve.py
  tests/unit/test_surface.py
Labels: language: python, type: enhancement

#167 Use `BEZ_` prefix for exported C ABI names
  docs/abi/curve.rst
  docs/abi/curve_intersection.rst
  docs/abi/example_compute_length.c
  docs/abi/example_elevate_nodes_curve.c
  docs/abi/example_evaluate_curve_barycentric.c
  docs/abi/example_evaluate_hodograph.c
  docs/abi/example_evaluate_multi.c
  docs/abi/example_full_reduce.c
  docs/abi/example_get_curvature.c
  docs/abi/example_locate_point_curve.c
  docs/abi/example_newton_refine_curve.c
  docs/abi/example_reduce_pseudo_inverse.c
  docs/abi/example_specialize_curve.c
  docs/abi/example_status.c
  docs/abi/example_subdivide_nodes_curve.c
  docs/abi/helpers.rst
  docs/abi/status.rst
  docs/abi/surface.rst
  docs/abi/surface_intersection.rst
  docs/releases/latest.rst
  src/fortran/curve.f90
  src/fortran/curve_intersection.f90
  src/fortran/helpers.f90
  src/fortran/include/bezier/curve.h
  src/fortran/include/bezier/curve_intersection.h
  src/fortran/include/bezier/helpers.h
  src/fortran/include/bezier/surface.h
  src/fortran/include/bezier/surface_intersection.h
  src/fortran/surface.f90
  src/fortran/surface_intersection.f90
  src/python/bezier/_curve.pxd
  src/python/bezier/_curve_intersection.pxd
  src/python/bezier/_helpers.pxd
  src/python/bezier/_speedup.c
  src/python/bezier/_surface.pxd
  src/python/bezier/_surface_intersection.pxd
  src/python/bezier/curve.py
  src/python/bezier/surface.py
Labels: hygiene, language: c/c++, packaging

#169 Use `const` pointers for arguments of type `[in]` headers.
  docs/abi/curve.rst
  docs/abi/curve_intersection.rst
  docs/abi/helpers.rst
  docs/abi/surface.rst
  docs/abi/surface_intersection.rst
  docs/conf.py
  docs/releases/latest.rst
  src/fortran/include/bezier/curve.h
  src/fortran/include/bezier/curve_intersection.h
  src/fortran/include/bezier/helpers.h
  src/fortran/include/bezier/surface.h
  src/fortran/include/bezier/surface_intersection.h
  src/python/bezier/_curve.pxd
  src/python/bezier/_curve_intersection.pxd
  src/python/bezier/_helpers.pxd
  src/python/bezier/_surface.pxd
  src/python/bezier/_surface_intersection.pxd
Labels: docs, hygiene, language: c/c++, packaging

#174 Make sure `docs/example_*.c` blocks get run with `doctest`.
  .gitignore
  DEVELOPMENT.rst
  DEVELOPMENT.rst.template
  docs/abi/curve.rst
  docs/abi/example_status.c
  docs/abi/status.rst
  noxfile.py
  setup_helpers.py
  tests/utils.py
Labels: docs, language: c/c++, testing

#175 Adding `CMakeLists.txt` files to enable building `libbezier` with `cmake`.
  .appveyor.yml
  .circleci/config.yml
  .gitignore
  DEVELOPMENT.rst
  DEVELOPMENT.rst.template
  docs/releases/2020.1.14.rst
  docs/releases/index.rst
  docs/releases/latest.rst
  noxfile.py
  scripts/macos/test.sh
  src/fortran/CMakeLists.txt
  src/fortran/quadpack/CMakeLists.txt
Labels: build, language: fortran, packaging, type: enhancement

#176 Requiring pre-build `libbezier` when building `bezier._speedup` Python binary extension
  .appveyor.yml
  .circleci/config.yml
  .circleci/expected_journal.txt
  .gitignore
  DEVELOPMENT.rst
  DEVELOPMENT.rst.template
  MANIFEST.in
  appveyor/expected_journal.txt
  docs/abi/curve.rst
  docs/abi/index.rst
  docs/abi/installation.rst
  docs/abi/status.rst
  docs/python/binary-extension.rst
  docs/python/binary-extension.rst.template
  docs/python/pxd/index.rst
  docs/python/reference/bezier.rst
  noxfile.py
  scripts/diff.py
  scripts/doc_template_release.py
  scripts/docker/bezier.Dockerfile
  scripts/macos/nox-install-for-doctest.sh
  scripts/macos/test.sh
  scripts/macos/travis-setup.sh
  scripts/macos/travis_journal.txt
  scripts/post_process_journal.py
  setup.py
  setup_helpers.py
  setup_helpers_macos.py
  setup_helpers_windows.py
  src/python/bezier/__init__.py
  tests/unit/test___init__.py
  tests/utils.py
Labels: build, language: fortran, language: python, packaging, type: enhancement

#182 Update `build-wheels.sh` scripts for `libbezier` and ditch `BEZIER_WHEEL`.
  .gitignore
  DEVELOPMENT.rst
  DEVELOPMENT.rst.template
  docs/abi/installation.rst
  noxfile.py
  scripts/macos/build-wheels.sh
  scripts/manylinux/build-wheels.sh
  scripts/manylinux/script_i686.sh
  scripts/manylinux/script_x86_64.sh
  setup.py
  src/fortran/CMakeLists.txt
  src/fortran/quadpack/CMakeLists.txt
  tests/utils.py
Labels: build, language: fortran, language: python, packaging

#184 Removing `get_dll()` helper.
  docs/python/reference/bezier.rst
  src/python/bezier/__init__.py
  tests/unit/test___init__.py
Labels: build, language: python, os: windows, packaging

#188 Converting console codeblocks to doctest for Linux sections of binary extension.
  .circleci/config.yml
  .gitignore
  docs/python/binary-extension.rst
  docs/python/binary-extension.rst.template
  noxfile.py
  scripts/docker/README.md
  scripts/docker/bezier.Dockerfile
  scripts/macos/nox-install-for-doctest.sh
  scripts/manylinux/build-wheel-for-doctest.sh
  scripts/nox-install-for-doctest-linux.sh
Labels: docs, os: linux, packaging

#192 Avoiding `pip==20.0` and `pip==20.0.1`.
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
  scripts/macos/travis-setup.sh
Labels: language: python, packaging

#191 Exposing `Curve.evaluate_hodograph()` as part of the public API.
  docs/images/curve_evaluate_hodograph.png
  docs/make_images.py
  src/python/bezier/curve.py
  tests/unit/test_curve.py
Labels: language: python, type: enhancement

#194 Delay import of sympy until actually needed.
  src/python/bezier/_symbolic.py
  tests/unit/test__symbolic.py
Labels: language: python, packaging, performance

#190 Avoiding `bezier.dll` name collision on Windows.
  DEVELOPMENT.rst
  DEVELOPMENT.rst.template
  docs/python/binary-extension.rst
  docs/python/binary-extension.rst.template
  noxfile.py
  setup.py
  tests/utils.py
Labels: build, hygiene, os: windows
